@use './ScssComponentes/variables' as v;

body {
    margin: 0 auto;
    width: 100%;
    min-height: 100vh;
    background-color: v.$color-4;
    position: relative;
    padding-bottom: 20rem;
}
.container-main{
    margin: 5rem auto;
}